#overlay {
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: linear-gradient(to bottom, red, orange);
}

h1 {
  border-style: solid;
  border-radius: 10px;
}

#categories {
  background: linear-gradient(to bottom, orange, yellow);
}

#levels{
  
}
