body {
  margin: 0;
}

#overlay {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: linear-gradient(to bottom, red, orange);
}

h1 {
  border-style: solid;
  border-radius: 8px;
  font-family: fantasy;
  font-size: 40px;
  padding-top: 9px;
  box-sizing: border-box;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-family: fantasy;
  font-style: normal;
  border-bottom: solid;
  margin-left: auto;
  margin-right: auto;
  font-size: 26px;
}

h3 {
  font-family: fantasy;
  font-style: normal;
  font-size: 20px;
}

h4 {
  font-family: fantasy;
  font-style: normal;
  font-size: 15px;
}

label {
  font-family: fantasy;
  cursor: pointer;
  border: 2px solid black;
  font-size: 20px;
  border-radius: 4px;
  padding: 4px;
}

label:hover {
  background-color: white;
  color: black;
}


input[type=radio]:checked + label {
    background-color: white;
    color:black;
}

input[type=radio] + label {
    cursor: pointer;
}

input[type=radio] {
  display: none;
}

.start {
  background-color: transparent;
  border: 2px solid black;
  border-radius: 4px;
  font-family: fantasy;
  font-size: 16px;
  width: 110px;
}

.start:hover {
  background-color:white;
  color:black;
}

legend {
  font-family: fantasy;
  font-size: 28px;
  border-bottom: 3px solid black;
  box-sizing: border-box;
  width: 200px;
  margin: auto;
}

#settings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#settings label {
  margin: 16px 0;
}

#game {
  background: linear-gradient(to bottom, #FF6F17, #FFD816);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#game button {
  margin: 10px 0;
}

button {
  font-family: fantasy;
  background-color: transparent;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 4px;
  padding-top: 5px;
}

button:hover {
  background-color: white;
  color: black;
}

.question-label::before {
  content: "Question ";
}


/* =================================
Device width:
    <-- 320px
==================================== */
@media (max-width: 320px) {
  #overlay {
    height: 100%;
  }
  h1 {
    width: 90%;
    margin: 8px auto;
  }
  #settings label {
    margin-top: 4px;
    margin-bottom: 4px;
}
  legend {
    width: 60%;
    font-size: 26px;
    margin: 6px;
}
  label {
    font-size: 18px;
}
  .start {
    width: 40%;
    margin-top: 6px;
  }
/* =================================
Device width:
    768px -->   <-- 1024px
==================================== */
@media (min-width: 768px) {
}
/* =================================
Device width:
    1024px -->
==================================== */
@media (min-width: 1024px) {
}
